n8n-blog-wordpress-posting-workflow.json
{
  "name": "Blog WordPress Posting Workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "blog_post",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "webhookId": "blog-wordpress-posting"
    },
    {
      "parameters": {
        "jsCode": "// Parse and validate webhook payload\nconst webhookData = $input.first().json;\n// Extract body from webhook payload (n8n webhooks wrap data in body)\nconst payload = webhookData.body || webhookData;\n\nconsole.log('=== WORDPRESS POSTING WORKFLOW ===');\nconsole.log('Client ID:', payload.clientId);\nconsole.log('Blog Post ID:', payload.blogPost?.id);\nconsole.log('Title:', payload.blogPost?.title);\nconsole.log('WordPress Site URL:', payload.wordpress?.siteUrl);\n\n// Validate required fields\nif (!payload.blogPost) {\n  throw new Error('Blog post data is missing');\n}\n\nif (!payload.wordpress || !payload.wordpress.siteUrl || !payload.wordpress.username || !payload.wordpress.appPassword) {\n  throw new Error('WordPress configuration is incomplete. Please ensure siteUrl, username, and appPassword are configured in client settings.');\n}\n\n// Prepare data for workflow\nconst processedData = {\n  // Client Info\n  clientId: payload.clientId,\n  clientName: payload.clientName || payload.clientId,\n  \n  // Blog Post Data\n  blogPost: {\n    id: payload.blogPost.id,\n    title: payload.blogPost.title || '',\n    content: payload.blogPost.content || '', // Markdown format\n    excerpt: payload.blogPost.excerpt || payload.blogPost.metaDescription || '',\n    slug: payload.blogPost.slug || '',\n    status: payload.blogPost.status || 'publish',\n    scheduledDate: payload.blogPost.scheduledDate || null,\n    \n    // SEO Data\n    metaTitle: payload.blogPost.metaTitle || payload.blogPost.title || '',\n    metaDescription: payload.blogPost.metaDescription || payload.blogPost.excerpt || '',\n    focusKeyword: payload.blogPost.focusKeyword || '',\n    \n    // Categories and Tags\n    category: payload.blogPost.category || '',\n    tags: Array.isArray(payload.blogPost.tags) ? payload.blogPost.tags : \n          (typeof payload.blogPost.tags === 'string' ? payload.blogPost.tags.split(',').map(t => t.trim()) : []),\n    \n    // Additional Metadata\n    authorId: payload.metadata?.authorId || '1',\n    wordCount: payload.metadata?.wordCount || 0,\n  },\n  \n  // Featured Image\n  featuredImage: payload.featuredImage || null,\n  \n  // WordPress Configuration\n  wordpress: {\n    siteUrl: payload.wordpress.siteUrl.replace(/\\/$/, ''), // Remove trailing slash\n    username: payload.wordpress.username,\n    appPassword: payload.wordpress.appPassword,\n  },\n  \n  // SEO Data\n  seo: payload.seo || {},\n  \n  // Processing metadata\n  processing_status: 'parsed',\n  timestamp: new Date().toISOString(),\n};\n\nconsole.log('✅ Payload parsed successfully');\nconsole.log('Content length:', processedData.blogPost.content.length);\nconsole.log('Has featured image:', !!processedData.featuredImage);\n\nreturn [{ json: processedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "id": "parse-payload",
      "name": "Parse Payload"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Convert the following Markdown blog post content to clean, well-formatted HTML suitable for WordPress.\n\n**Article Title:** {{ $json.blogPost.title }}\n\n**Markdown Content:**\n{{ $json.blogPost.content }}\n\n**Requirements:**\n1. Convert all Markdown syntax to proper HTML\n2. Use semantic HTML5 elements (article, section, h1-h6, p, ul, ol, li, strong, em, blockquote, code, pre, a, img)\n3. Ensure proper heading hierarchy (h2 for main sections, h3 for subsections)\n4. Convert markdown links to HTML anchor tags with proper href attributes\n5. Convert markdown images to HTML img tags (preserve alt text if present)\n6. Format lists (bulleted and numbered) properly\n7. Preserve code blocks with proper formatting\n8. Add proper paragraph breaks\n9. Ensure all HTML is valid and well-formed\n10. Do NOT add any WordPress-specific shortcodes or plugins\n11. Do NOT wrap content in extra divs or containers\n12. Output ONLY the HTML content (no markdown, no explanations, no code blocks)\n\n**Output Format:**\nReturn only the HTML content as a plain string, ready to be inserted into WordPress post content field.",
        "options": {
          "systemMessage": "=You are an expert HTML converter specializing in converting Markdown to clean, semantic HTML for WordPress blog posts.\n\n**Your Task:**\nConvert Markdown content to well-structured HTML that WordPress can display properly.\n\n**Guidelines:**\n1. **Semantic HTML**: Use proper HTML5 semantic elements\n2. **Heading Hierarchy**: Maintain proper heading levels (h2 for main sections, h3 for subsections)\n3. **Links**: Convert `[text](url)` to `<a href=\"url\">text</a>`\n4. **Images**: Convert `![alt](url)` to `<img src=\"url\" alt=\"alt\" />`\n5. **Lists**: Convert markdown lists to proper `<ul>` or `<ol>` with `<li>` items\n6. **Code**: Preserve code blocks with `<pre><code>` tags\n7. **Emphasis**: Convert `**bold**` to `<strong>bold</strong>` and `*italic*` to `<em>italic</em>`\n8. **Blockquotes**: Convert `>` to `<blockquote>`\n9. **Paragraphs**: Ensure proper paragraph breaks with `<p>` tags\n10. **Clean Output**: No extra whitespace, no markdown syntax, no explanations\n\n**Important:**\n- Output ONLY the HTML content\n- Do NOT wrap in code blocks or markdown\n- Do NOT add WordPress shortcodes\n- Ensure all HTML is valid and well-formed\n- Preserve the original content structure and meaning"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [680, 300],
      "id": "convert-to-html",
      "name": "Convert Markdown to HTML"
    },
    {
      "parameters": {
        "model": "gpt-4o-2024-11-20",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.1,
      "position": [680, 500],
      "id": "openai-model",
      "name": "OpenAI Model",
      "credentials": {
        "openAiApi": {
          "id": "MaSTde2xxBu2ZRiy",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Merge HTML content with original data from Parse Payload\nconst agentOutput = $input.first().json;\nconst htmlContent = agentOutput.output || '';\n\n// Get original data from Parse Payload to preserve all fields\nconst parsePayload = $('Parse Payload').first().json;\n\n// Merge: preserve all original data and add HTML content\nconst mergedData = {\n  ...parsePayload,\n  html_content: htmlContent\n};\n\nconsole.log('✅ HTML content merged with original data');\nconsole.log('HTML length:', htmlContent.length);\nconsole.log('Preserved fields:', Object.keys(mergedData).join(', '));\n\nreturn [{ json: mergedData }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300],
      "id": "set-html-content",
      "name": "Set HTML Content"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-featured-image",
              "leftValue": "={{ ($('Parse Payload').item.json.featuredImage != null && $('Parse Payload').item.json.featuredImage.url) ? $('Parse Payload').item.json.featuredImage.url : '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300],
      "id": "check-featured-image",
      "name": "Has Featured Image?"
    },
    {
      "parameters": {
        "url": "={{ $('Parse Payload').item.json.featuredImage.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200],
      "id": "download-featured-image",
      "name": "Download Featured Image"
    },
    {
      "parameters": {
        "jsCode": "// Preserve binary data for image upload\nconst imageData = $input.first();\n\n// Return binary data as-is (auth will be handled by HTTP Request node)\nreturn [{ \n  json: imageData.json || {},\n  binary: imageData.binary\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 200],
      "id": "prepare-image-auth",
      "name": "Prepare Image Auth"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Parse Payload').item.json.wordpress.siteUrl }}/wp-json/wp/v2/media",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "=data"
            },
            {
              "name": "title",
              "value": "={{ $('Parse Payload').item.json.blogPost.title }}"
            },
            {
              "name": "alt_text",
              "value": "={{ $('Parse Payload').item.json.featuredImage.alt || $('Parse Payload').item.json.blogPost.title }}"
            },
            {
              "name": "caption",
              "value": "={{ $('Parse Payload').item.json.featuredImage.caption || '' }}"
            }
          ]
        },
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "genericAuthData": {
          "user": "={{ $('Parse Payload').item.json.wordpress.username }}",
          "password": "={{ $('Parse Payload').item.json.wordpress.appPassword }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 200],
      "id": "upload-featured-image",
      "name": "Upload Featured Image to WordPress"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "featured-media-id",
              "name": "featured_media_id",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1780, 200],
      "id": "set-featured-media-id",
      "name": "Set Featured Media ID"
    },
    {
      "parameters": {
        "jsCode": "// Build WordPress post data\nconst parsePayload = $('Parse Payload').first().json;\nconst htmlContent = $('Set HTML Content').first().json.html_content;\nconst featuredMediaId = $('Set Featured Media ID').first()?.json.featured_media_id || 0;\nconst blogPost = parsePayload.blogPost;\n\nconst postData = {\n  title: blogPost.title,\n  content: htmlContent,\n  excerpt: blogPost.excerpt || '',\n  status: blogPost.status || 'publish',\n  slug: blogPost.slug || '',\n  featured_media: featuredMediaId || 0\n};\n\n// Add SEO meta fields if provided\nif (blogPost.metaTitle || blogPost.metaDescription || blogPost.focusKeyword) {\n  postData.meta = {};\n  if (blogPost.metaTitle) {\n    postData.meta._yoast_wpseo_title = blogPost.metaTitle;\n  }\n  if (blogPost.metaDescription) {\n    postData.meta._yoast_wpseo_metadesc = blogPost.metaDescription;\n  }\n  if (blogPost.focusKeyword) {\n    postData.meta._yoast_wpseo_focuskw = blogPost.focusKeyword;\n  }\n}\n\nreturn [{ json: { postData, wordpress: parsePayload.wordpress } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 300],
      "id": "prepare-post-data",
      "name": "Prepare Post Data"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.wordpress.siteUrl }}/wp-json/wp/v2/posts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.postData }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "genericAuthData": {
          "user": "={{ $json.wordpress.username }}",
          "password": "={{ $json.wordpress.appPassword }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 300],
      "id": "create-wordpress-post",
      "name": "Create WordPress Post"
    },
    {
      "parameters": {
        "jsCode": "// Build WordPress post data (no featured image)\nconst parsePayload = $('Parse Payload').first().json;\nconst htmlContent = $('Set HTML Content').first().json.html_content;\nconst blogPost = parsePayload.blogPost;\n\nconst postData = {\n  title: blogPost.title,\n  content: htmlContent,\n  excerpt: blogPost.excerpt || '',\n  status: blogPost.status || 'publish',\n  slug: blogPost.slug || ''\n};\n\n// Add SEO meta fields if provided\nif (blogPost.metaTitle || blogPost.metaDescription || blogPost.focusKeyword) {\n  postData.meta = {};\n  if (blogPost.metaTitle) {\n    postData.meta._yoast_wpseo_title = blogPost.metaTitle;\n  }\n  if (blogPost.metaDescription) {\n    postData.meta._yoast_wpseo_metadesc = blogPost.metaDescription;\n  }\n  if (blogPost.focusKeyword) {\n    postData.meta._yoast_wpseo_focuskw = blogPost.focusKeyword;\n  }\n}\n\nreturn [{ json: { postData, wordpress: parsePayload.wordpress } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 400],
      "id": "prepare-post-data-no-image",
      "name": "Prepare Post Data (No Image)"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.wordpress.siteUrl }}/wp-json/wp/v2/posts",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.postData }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "genericAuthData": {
          "user": "={{ $json.wordpress.username }}",
          "password": "={{ $json.wordpress.appPassword }}"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2000, 400],
      "id": "create-wordpress-post-no-image",
      "name": "Create WordPress Post (No Image)"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "wordpress-post-id",
              "name": "wordpress_post_id",
              "value": "={{ $json.id }}",
              "type": "number"
            },
            {
              "id": "wordpress-post-url",
              "name": "wordpress_post_url",
              "value": "={{ $json.link }}",
              "type": "string"
            },
            {
              "id": "publish-status",
              "name": "publish_status",
              "value": "={{ $json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2220, 300],
      "id": "set-wordpress-result",
      "name": "Set WordPress Result"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Blog post published to WordPress successfully\", \"wordpressPostId\": $json.wordpress_post_id, \"wordpressPostUrl\": $json.wordpress_post_url, \"status\": $json.publish_status } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2440, 300],
      "id": "respond-success",
      "name": "Respond Success"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": $json.error || \"Unknown error occurred\" } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2440, 500],
      "id": "respond-error",
      "name": "Respond Error"
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Parse Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Payload": {
      "main": [
        [
          {
            "node": "Convert Markdown to HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Markdown to HTML": {
      "main": [
        [
          {
            "node": "Set HTML Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Convert Markdown to HTML",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set HTML Content": {
      "main": [
        [
          {
            "node": "Has Featured Image?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Featured Image?": {
      "main": [
        [
          {
            "node": "Download Featured Image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Post Data (No Image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Featured Image": {
      "main": [
        [
          {
            "node": "Prepare Image Auth",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Image Auth": {
      "main": [
        [
          {
            "node": "Upload Featured Image to WordPress",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Featured Image to WordPress": {
      "main": [
        [
          {
            "node": "Set Featured Media ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Featured Media ID": {
      "main": [
        [
          {
            "node": "Prepare Post Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Post Data": {
      "main": [
        [
          {
            "node": "Create WordPress Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WordPress Post": {
      "main": [
        [
          {
            "node": "Set WordPress Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Post Data (No Image)": {
      "main": [
        [
          {
            "node": "Create WordPress Post (No Image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create WordPress Post (No Image)": {
      "main": [
        [
          {
            "node": "Set WordPress Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set WordPress Result": {
      "main": [
        [
          {
            "node": "Respond Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-14T12:00:00.000Z",
  "versionId": "1"
}

