n8n-video-workflow-complete.json
{
    "nodes": [
      {
        "parameters": {
          "operation": "update",
          "databaseId": "={{ $('Webhook Trigger').item.json.body.client.databaseId }}",
          "tableId": "={{ $('Webhook Trigger').item.json.body.tables.videos.id }}",
          "rowId": "={{ $('Webhook Trigger').item.json.body.tables.videos.recordId }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "={{ $('Webhook Trigger').item.json.body.fieldMappings.videos.videoStatus }}",
                "fieldValue": "Preparing"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          -1184,
          32
        ],
        "id": "e28daaea-7382-4419-a363-30ced29081da",
        "name": "Update a row",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "databaseId": "={{ $('Webhook Trigger').item.json.body.client.databaseId }}",
          "tableId": "={{ $('Webhook Trigger').item.json.body.tables.videos.id }}",
          "rowId": "={{ $('Webhook Trigger').item.json.body.tables.videos.recordId }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "={{ $('Webhook Trigger').item.json.body.fieldMappings.videos.videoStatus }}",
                "fieldValue": "Generating Videos"
              },
              {
                "fieldId": "={{ $('Webhook Trigger').item.json.body.fieldMappings.videos.taskId }}",
                "fieldValue": "={{ $json.data.taskId }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          -1504,
          256
        ],
        "id": "d1de9861-dec9-4e9f-994d-7cbb3c4e1acb",
        "name": "Update a row1",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "video-generation",
          "responseMode": "responseNode",
          "options": {}
        },
        "id": "820531a3-0d96-401f-98a2-e9a09deace76",
        "name": "Webhook Trigger",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          -1520,
          32
        ],
        "webhookId": "3b1d91bc-e4e2-42d1-b37e-4dfc85b18064"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "clientId",
                "value": "={{ $json.body.clientId }}",
                "type": "string"
              },
              {
                "id": "2",
                "name": "videoType",
                "value": "={{ $json.body.videoType }}",
                "type": "string"
              },
              {
                "id": "3",
                "name": "model",
                "value": "={{ $json.body.model }}",
                "type": "string"
              },
              {
                "id": "4",
                "name": "recordId",
                "value": "={{ $json.body.tables.videos.recordId }}",
                "type": "string"
              },
              {
                "id": "5",
                "name": "tableId",
                "value": "={{ $json.body.tables.videos.id }}",
                "type": "string"
              },
              {
                "id": "6",
                "name": "videoPrompt",
                "value": "={{ $json.body.video.prompt }}",
                "type": "string"
              },
              {
                "id": "7",
                "name": "aspectRatio",
                "value": "={{ $json.body.video.aspectRatio }}",
                "type": "string"
              },
              {
                "id": "8",
                "name": "duration",
                "value": "={{ $json.body.video.duration }}",
                "type": "number"
              }
            ]
          },
          "options": {}
        },
        "id": "ea2dc2a2-0d81-4f35-ba4f-ada6eed772b3",
        "name": "Parse Payload",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -1344,
          32
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.kie.ai/api/v1/jobs/createTask",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"model\": \"sora-2-text-to-video\",\n  \"input\": {\n    \"prompt\": \"{{ $('Parse Payload').item.json.videoPrompt.replace(/\\r?\\n|\\r/g, ' ').replace(/\\\"/g, '') }}\",\n    \"aspect_ratio\": \"{{ $('Parse Payload').item.json.aspectRatio.includes('9:16') ? 'portrait' : ($('Parse Payload').item.json.aspectRatio.includes('16:9') ? 'landscape' : 'square') }}\",\n    \"n_frames\": \"{{ $('Parse Payload').item.json.duration }}\",\n    \"remove_watermark\": true\n  }\n}",
          "options": {}
        },
        "id": "bc606787-bcf6-4ab5-b74a-9d67ca2dd8c5",
        "name": "Sora 2: Generate Video",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1008,
          32
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "AkbAjhqtJ0xgwVv2",
            "name": "kie.ai account"
          }
        }
      },
      {
        "parameters": {
          "amount": 10
        },
        "id": "9191f972-57d5-46a5-8f23-f4ee7b1a859c",
        "name": "Wait 10s",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1344,
          256
        ],
        "webhookId": "c0e6d9e4-962f-4305-8fbc-99cf4626f0aa"
      },
      {
        "parameters": {
          "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "taskId",
                "value": "={{ $('Sora 2: Generate Video').item.json.data.taskId }}"
              }
            ]
          },
          "options": {}
        },
        "id": "ed4267fc-ccfa-4093-9247-bb50360d376a",
        "name": "Check Sora Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -1184,
          256
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "AkbAjhqtJ0xgwVv2",
            "name": "kie.ai account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "1",
                "leftValue": "={{ $json.data.state }}",
                "rightValue": "success",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "e07a2a02-533d-4548-9201-f87f26ff8d92",
        "name": "Is Complete?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -1008,
          256
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1",
                "name": "videoUrl",
                "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
                "type": "string"
              },
              {
                "id": "dd72f1d9-dd54-4763-9c84-b0756aa29f2a",
                "name": "videoName",
                "value": "={{ JSON.parse($json.data.resultJson).resultUrls[0].split('/').pop() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "e2550c8c-c8cd-4b56-b9c5-2bf748b2cde1",
        "name": "Extract Video URL",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -720,
          160
        ]
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"success\": true, \"message\": \"Video generation complete\", \"videoUrl\": \"{{ $('Extract Video URL').item.json.videoUrl }}\" }",
          "options": {}
        },
        "id": "5048facf-0b4f-410c-a62a-10cf82f87207",
        "name": "Respond: Success",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          16,
          160
        ]
      },
      {
        "parameters": {
          "url": "https://baserow.aiautomata.co.za/api/database/rows/table/3395/={{ $('Parse Payload').item.json.recordId }}/?user_field_names=true",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"videoStatus\": \"Failed\",\n  \"errorMessage\": \"Video generation timed out after multiple retries\"\n}",
          "options": {}
        },
        "id": "c91b14b8-7030-4e0d-874a-fa19d65a478e",
        "name": "Update Status: Failed",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -576,
          352
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "eLr9WkAowHbRSmCb",
            "name": "Baserow Auth account"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={ \"success\": false, \"message\": \"Video generation failed\", \"error\": \"Generation timed out\" }",
          "options": {}
        },
        "id": "23a80093-5820-48ee-a4f0-66e35983dfaf",
        "name": "Respond: Failed",
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1,
        "position": [
          -368,
          352
        ]
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://baserow.aiautomata.co.za/api/database/rows/table/{{ $('Webhook Trigger').item.json.body.tables.videos.id }}/{{ $('Webhook Trigger').item.json.body.tables.videos.recordId }}/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"field_{{ $('Webhook Trigger').item.json.body.fieldMappings.videos.videoStatus }}\": \"Completed\",\n  \"field_{{ $('Webhook Trigger').item.json.body.fieldMappings.videos.videoUrl }}\": \"{{ $('Extract Video URL').item.json.videoUrl }}\",\n  \"field_{{ $('Webhook Trigger').item.json.body.fieldMappings.videos.video }}\": \"{{ $json.name }}\",\n  \"field_{{ $('Webhook Trigger').item.json.body.fieldMappings.videos.completedAt }}\": \"{{ $now.toISO() }}\"\n}",
          "options": {}
        },
        "id": "922e4693-22a7-4875-a5ee-8e99729f1e6d",
        "name": "Update Baserow Success2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -160,
          160
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "eLr9WkAowHbRSmCb",
            "name": "Baserow Auth account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.videoUrl }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -528,
          160
        ],
        "id": "46a94870-bc15-4678-b80b-c4a1a4c5f04d",
        "name": "Download Image"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://baserow.aiautomata.co.za/api/user-files/upload-file/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -352,
          160
        ],
        "id": "f24f6ed0-a2c3-4adb-9b0c-acae5b4de1e5",
        "name": "Upload Nano to Baserow",
        "credentials": {
          "httpHeaderAuth": {
            "id": "eLr9WkAowHbRSmCb",
            "name": "Baserow Auth account"
          }
        }
      }
    ],
    "connections": {
      "Update a row": {
        "main": [
          [
            {
              "node": "Sora 2: Generate Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update a row1": {
        "main": [
          [
            {
              "node": "Wait 10s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook Trigger": {
        "main": [
          [
            {
              "node": "Parse Payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Payload": {
        "main": [
          [
            {
              "node": "Update a row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Sora 2: Generate Video": {
        "main": [
          [
            {
              "node": "Update a row1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 10s": {
        "main": [
          [
            {
              "node": "Check Sora Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Sora Status": {
        "main": [
          [
            {
              "node": "Is Complete?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Complete?": {
        "main": [
          [
            {
              "node": "Extract Video URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait 10s",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Video URL": {
        "main": [
          [
            {
              "node": "Download Image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Status: Failed": {
        "main": [
          [
            {
              "node": "Respond: Failed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Baserow Success2": {
        "main": [
          [
            {
              "node": "Respond: Success",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Image": {
        "main": [
          [
            {
              "node": "Upload Nano to Baserow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Nano to Baserow": {
        "main": [
          [
            {
              "node": "Update Baserow Success2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {
      "Webhook Trigger": [
        {
          "headers": {
            "host": "n8n.aiautomata.co.za",
            "user-agent": "node",
            "content-length": "1637",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "*",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "165.73.28.159",
            "cf-ipcountry": "ZA",
            "cf-ray": "99d28f655a8e7412-DUR",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "sec-fetch-mode": "cors",
            "x-forwarded-for": "172.69.112.150",
            "x-forwarded-host": "n8n.aiautomata.co.za",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "76d7d2696ec9",
            "x-real-ip": "172.69.112.150"
          },
          "params": {},
          "query": {},
          "body": {
            "event": "video_generation",
            "clientId": "modern-management",
            "videoType": "Text-to-Video",
            "model": "Sora 2",
            "timestamp": "2025-11-12T02:22:10.808Z",
            "client": {
              "id": "modern-management",
              "name": "Modern Management",
              "baserowToken": "SXe0k6Btm7i28uZP5mp8hr5KPBoWsiE1",
              "databaseId": "176"
            },
            "tables": {
              "videos": {
                "id": "3395",
                "recordId": "8"
              }
            },
            "fieldMappings": {
              "videos": {
                "video": "43368",
                "videoUrl": "43369",
                "thumbnailUrl": "43370",
                "videoPrompt": "43371",
                "videoType": "43372",
                "videoStatus": "43373",
                "model": "43374",
                "clientId": "43375",
                "aspectRatio": "43376",
                "duration": "43377",
                "nFrames": "43378",
                "removeWatermark": "43379",
                "referenceImage": "43380",
                "referenceImageUrl": "43381",
                "referenceVideo": "43382",
                "referenceVideoUrl": "43383",
                "styleReferenceImage": "43384",
                "process": "43385",
                "backgroundMusicPrompt": "43386",
                "product": "43387",
                "productPhoto": "43388",
                "productPhotoUrl": "43389",
                "icp": "43390",
                "productFeatures": "43391",
                "videoSetting": "43392",
                "platform": "43393",
                "sceneCount": "43394",
                "useCaptions": "43395",
                "captionText": "43396",
                "captionFontStyle": "43397",
                "captionFontSize": "43398",
                "captionPosition": "43399",
                "useMusic": "43400",
                "useSoundFX": "43401",
                "rawVideoUrl": "43402",
                "processedVideoUrl": "43403",
                "youtubeTitle": "43404",
                "youtubeHashtags": "43405",
                "youtubeVideoId": "43406",
                "taskId": "43407",
                "errorMessage": "43408",
                "metadata": "43409",
                "createdAt": "43410",
                "updatedAt": "43411",
                "completedAt": "43412"
              }
            },
            "video": {
              "prompt": "Man walking on the beach",
              "type": "Text-to-Video",
              "model": "Sora 2",
              "aspectRatio": "9:16 (Vertical)",
              "duration": 10,
              "platform": "Instagram",
              "useCaptions": false,
              "captionText": "",
              "captionPosition": "Bottom"
            },
            "metadata": {
              "source": "content-engine-app",
              "version": "1.0"
            }
          },
          "webhookUrl": "https://n8n.aiautomata.co.za/webhook/video-generation",
          "executionMode": "production"
        }
      ]
    },
    "meta": {
      "templateCredsSetupCompleted": true,
      "instanceId": "15a60e08082ab352e35a507877bcd1434fb079a9fcbac992f93eb2b8909136d7"
    }
  }