Video Workflows/video.json
{
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          -688,
          976
        ],
        "id": "f8f0ce2c-31e9-4891-a401-888a997f11c5",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          464,
          320
        ],
        "id": "59aadcb1-d6e5-4fa9-877d-f08e7ce7b19e",
        "name": "OpenRouter Chat Model1",
        "credentials": {
          "openRouterApi": {
            "id": "eni2kFdHGvy7lEd3",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "options": {
            "temperature": 0.9
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          848,
          320
        ],
        "id": "e6019570-ef60-48ba-8633-b01b7654cb1f",
        "name": "OpenRouter Chat Model",
        "credentials": {
          "openRouterApi": {
            "id": "eni2kFdHGvy7lEd3",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"process\": \"process\",\n  \"steps\": [{\n    \"number\": 1,\n    \"rawDescription\": \"\",\n    \"textToImagePrompt\": \"\",\n    \"animationPrompt\": \"\",\n    \"soundEffectPrompt\": \"\"\n  }, {}],\n  \"backgroundMusicPrompt\": \"\"\n}\n"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          1024,
          320
        ],
        "id": "900da48c-0d7c-48e8-b50f-d53351c71bc0",
        "name": "Structured Output Parser2"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Process:\n{{ $json.output.process }}\n\nSteps:\n{{ $json.output.steps.toJsonString() }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=### #Role  \nYou are a creative director for a TikTok account featuring AI-generated videos of tiny workers in whimsical miniature worlds. The videos you create show a process those workers do from start to finish.\n\nYou will be given the process name and raw description of each step in the process performed by these tiny human workers.\n\n---\n\n### #Task  \nYour task is to analyze each scene in the context of the whole process, craft a detailed text to image prompt for our visualization team for each step based on that information, and also craft a short prompt for animation and sound effect for that scene. Each scene will last only 5 seconds. The context is a highly detailed miniature setting where tiny human workers use tools and props to complete their tasks.\n\n---\n\n### #Instructions  \nFor each step:  \n1. Write a concise yet vivid image description that captures the scene, including the tiny human workers’ actions, the miniature environment, and any quirky or charming details; describe light, viewpoint, main objects on a scene and scene details. Ensure the description is specific enough for an AI image generator to produce a clear, engaging visual that fits a short TikTok clip. Make sure to emphasize the oversized giant objects and miniature size of the figures in each prompt.  \n2. For animation prompt use a minimal explanation of what is happening in the scene.  \n3. For Sound effect prompt focus on sounds in that environment. It should be concise.\n\n**Note:** each text to image prompt will be used independently of previous images or prompts, so you are not allowed to point to objects from previous prompts or scenes. When you need to do that, just repeat the details (environment, clothes, props) instead of pointing to the objects.  \nSound effect prompt will be used on its own, don’t point to objects from a scene in it. It should be independent.  \nAnimation will be done using image to video, so you need to mention same objects as you mentioned in the image.\n\n---\n\n### #Output  \n**Output result as json:**\n\n{\n  \"process\": \"process\",\n  \"steps\": [{\n    \"number\": 1,\n    \"rawDescription\": \"\",\n    \"textToImagePrompt\": \"\",\n    \"animationPrompt\": \"\",\n    \"soundEffectPrompt\": \"\"\n  }, {}],\n  \"backgroundMusicPrompt\": \"\" //prompt for instrumental background music for the whole video. Should match the style, pace, theme, mood of the process. Should be classical and cinematic. Below 200 chars here please.\n}\n\n\n---\n\n### #Example  \n**Example `textToImagePrompt`:**  \nIn this *whimsical depiction*, a large white sneaker serves as the focal point, embellished with a fabric golden star. Miniature figures, dressed in quaint work attire, are seen creating and maintaining the shoe, emphasizing the concept of craftsmanship. The composition is warm and inviting, with soft, ambient lighting that highlights the textures of the materials surrounding the shoe. The overall mood evokes a sense of creativity and artisanal charm. The shot is a shot from the top as a miniature panorama scene.\n\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          864,
          112
        ],
        "id": "7de0d07a-af4f-4aff-bad6-09b61088c455",
        "name": "Create Scenes"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          720,
          1424
        ],
        "id": "65f5f5a9-df18-40d5-a6d5-312f2af685b2",
        "name": "Loop Over Items"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.freepik.com/v1/ai/mystic",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"prompt\": {{ JSON.stringify($json[\"Image Prompt\"]) }},\n  \"style_reference\": \"{{ $('Convert to Base64 String').item.json.base64_String }}\",\n  \"adherence\": 50,\n  \"hdr\": 60,\n  \"resolution\": \"1k\",\n  \"aspect_ratio\": \"social_story_9_16\",\n  \"model\": \"realism\",\n  \"creative_detailing\": 60,\n  \"engine\": \"magnific_sharpy\",\n  \"fixed_generation\": false,\n  \"filter_nsfw\": false\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          944,
          1344
        ],
        "id": "3103188d-701c-42a5-a764-a613e8c33741",
        "name": "Send Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "MnFk2IHNTKhV11ec",
            "name": "FreePik Header Auth"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.freepik.com/v1/ai/mystic/{{ $json.data.task_id }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1392,
          1264
        ],
        "id": "2c3b33cb-b689-43c9-a1f7-323da2a50885",
        "name": "Check Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "MnFk2IHNTKhV11ec",
            "name": "FreePik Header Auth"
          }
        }
      },
      {
        "parameters": {
          "amount": 120
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1168,
          1344
        ],
        "id": "2dae8c99-c100-491e-ab21-cf6f046e7047",
        "name": "Wait",
        "webhookId": "cc23db54-fce3-4789-a6bd-afda8545c632"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "bdb4c198-4df9-41ba-8b83-36c416b62e38",
                "leftValue": "={{ $input.all().filter(item => item.json.data.status == \"IN_PROGRESS\").length }}\n",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              },
              {
                "id": "b9ef78f1-336b-4546-a827-2667842aa1e9",
                "leftValue": "={{ $runIndex }}",
                "rightValue": 50,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "or"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1600,
          1344
        ],
        "id": "d8896baf-c671-4fab-9a05-bd9913601fa7",
        "name": "Is Completed"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "include": "specifiedFields",
          "fieldsToInclude": "Process Idea",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          3040,
          1264
        ],
        "id": "28f6cb16-eb58-42d3-8ad7-dadb0289358a",
        "name": "Aggregate"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"process_ideas\": [\n    \"Weaving grass hammocks between bonsai trees\",\n    \"Frosting miniature cupcakes with flower-petal icing\",\n    \"Filling sand timers with stardust grains\",\n    \"Polishing beetle shells for royal insect parades\",\n    \"Stacking and organizing leaf-cut paper files\",\n    \"Charging glowberries with tiny lightning rods\",\n    \"Binding dream journals using spider-silk thread\",\n    \"Repainting street signs in a snail-sized village\",\n    \"Carving furniture from sugar cubes\",\n    \"Harvesting dewdrops from velvet moss\"\n  ]\n}\n"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          3472,
          1392
        ],
        "id": "fc1313a2-073d-48d1-886a-5680f506da5a",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "fieldToSplitOut": "output.process_ideas",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          3648,
          1264
        ],
        "id": "573196bc-5348-400a-af2e-bcb79932cb4d",
        "name": "Split Out1"
      },
      {
        "parameters": {
          "options": {
            "temperature": 0.6
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          3248,
          1392
        ],
        "id": "851fdb52-f17b-4839-bf20-4d2ecc89d376",
        "name": "OpenRouter Chat Model3",
        "credentials": {
          "openRouterApi": {
            "id": "eni2kFdHGvy7lEd3",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "destinationFieldName": "AudioTracks",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          720,
          960
        ],
        "id": "b5d85330-6bdb-41f6-9287-f17d95ffec9f",
        "name": "Aggregate1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "40f3446b-5b76-4f5a-8706-1be04af684dd",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "number"
              },
              {
                "id": "fa4d5917-f4de-4d5a-bc2b-a95cae944d2a",
                "name": "Description",
                "value": "={{ $json.Description }}",
                "type": "string"
              },
              {
                "id": "2b04b258-6fb4-42b5-8726-fb73c31950bc",
                "name": "AudioTrackURL",
                "value": "={{ $json['Audio File'][0].url }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          512,
          960
        ],
        "id": "d51aa80e-6ff8-46e3-85a0-c631c70198ef",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"Process ID\": \"id from the process list\",\n  \"process\": \"randomly chosen process from list\",\n  \"steps\": [\n    {\n      \"number\": 1,\n      \"rawDescription\": \"\"\n    },\n    {\n      \"number\": 2,\n      \"rawDescription\": \"\"\n    }\n  ]\n}\n"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          672,
          320
        ],
        "id": "eb8e9c65-c1f3-4163-9e5a-63984798f78a",
        "name": "Structured Output Parser1"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "fadd6161-93a2-4e60-9ef8-da47ecb7f7ab",
                "name": "scenes",
                "value": "={{ $('Create Scenes').item.json.output.steps }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1680,
          112
        ],
        "id": "10738feb-3f74-4aa6-8a47-9199520bbf64",
        "name": "Set Scenes"
      },
      {
        "parameters": {
          "operation": "create",
          "databaseId": 170,
          "tableId": 683,
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 6638,
                "fieldValue": "={{ $('Create Scenes').item.json.output.process }}"
              },
              {
                "fieldId": 6640,
                "fieldValue": "={{ $('Create Scenes').item.json.output.backgroundMusicPrompt }}"
              },
              {
                "fieldId": 6641,
                "fieldValue": "Processing"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          1472,
          112
        ],
        "id": "c22e57de-159e-4e72-996c-b27e1777426b",
        "name": "Create Video Record",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "scenes",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1904,
          112
        ],
        "id": "5c852dba-2355-4dc6-8734-07aafa64598a",
        "name": "Split Out Scenes"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Music: {{ $('Get Video').item.json['Background Music Prompt'] }}\nProcess: {{ $('Get Video').item.json.Process }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are a creative director for a TikTok account featuring AI-generated videos of tiny workers in whimsical miniature worlds.\n\nYou will be given a description of a music we want to have in a video and your task is to pick one and only one music track from our music library that matches the best, and return it.\n\n**##Music Library**  \n`{{ $json.AudioTracks.toJsonString() }}`\n\n**#Return Format**  \nReturn matching track in json format:\n\n{\n  \"id\": 1,\n  \"musicurl\": \"url\"\n}\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          1152,
          880
        ],
        "id": "7611b83c-358d-40b2-b868-9719b8507587",
        "name": "Music Picker"
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 683,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 6641,
                  "operator": "contains",
                  "value": "Processing"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          64,
          960
        ],
        "id": "0c3af052-ab82-48f9-864e-fc4bd8a3fffc",
        "name": "Get Video",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 686,
          "returnAll": true,
          "additionalOptions": {}
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          288,
          960
        ],
        "id": "3fe01c50-78d5-42be-9da9-27c293398580",
        "name": "Get Music",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1072,
          1088
        ],
        "id": "144f6274-6387-4d63-8b7d-35f6345a5d2f",
        "name": "OpenRouter Chat Model4",
        "credentials": {
          "openRouterApi": {
            "id": "eni2kFdHGvy7lEd3",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"id\": 1,\n  \"musicurl\": \"url\"\n}\n"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          1360,
          1088
        ],
        "id": "36b0766a-bef0-42e3-ae10-2ef2a00c7b1f",
        "name": "Structured Output Parser3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://baserow.aiautomata.co.za/api/user-files/upload-file/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2048,
          1344
        ],
        "id": "0a45d1ce-6a48-457d-b832-968f43bc01b8",
        "name": "Upload to baserow",
        "credentials": {
          "httpHeaderAuth": {
            "id": "eLr9WkAowHbRSmCb",
            "name": "Baserow Auth account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.data.generated[0] }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1824,
          1344
        ],
        "id": "43821213-922d-4cb1-bb56-46072a7238d2",
        "name": "Download Image"
      },
      {
        "parameters": {
          "batchSize": 5,
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          720,
          1792
        ],
        "id": "481d89bb-e06a-464f-9d1e-873030f9585d",
        "name": "Loop Over Items1"
      },
      {
        "parameters": {
          "amount": 20
        },
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1168,
          1728
        ],
        "id": "23d96b17-1ee2-4af7-b231-bdda9bfeb3df",
        "name": "Wait1",
        "webhookId": "6d55d750-b380-45dd-a322-026ba020358d"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose",
              "version": 2
            },
            "conditions": [
              {
                "id": "bdb4c198-4df9-41ba-8b83-36c416b62e38",
                "leftValue": "={{ $input.all().filter(item => item.json.status === \"IN_PROGRESS\" || item.json.status === \"IN_QUEUE\").length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              },
              {
                "id": "b9ef78f1-336b-4546-a827-2667842aa1e9",
                "leftValue": "={{ $runIndex }}",
                "rightValue": 50,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                }
              }
            ],
            "combinator": "or"
          },
          "looseTypeValidation": true,
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1600,
          1728
        ],
        "id": "31f27b0e-adf6-400a-97f7-6a0335806d6a",
        "name": "Is Completed1"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://baserow.aiautomata.co.za/api/user-files/upload-file/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2272,
          1728
        ],
        "id": "11937ef1-16e7-46f2-9fe7-65c7622d52bb",
        "name": "Upload to baserow1",
        "credentials": {
          "httpHeaderAuth": {
            "id": "eLr9WkAowHbRSmCb",
            "name": "Baserow Auth account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://nca.aiautomata.co.za/v1/video/concatenate",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n    \"video_urls\": {{ JSON.stringify($json.video_urls) }},\n    \"id\": \"{{ $('Get video').item.json.id }}\"\n}",
          "options": {
            "timeout": 50000
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1152,
          2432
        ],
        "id": "67022d2d-75fb-4f9d-a3ac-dd61ad3c12a2",
        "name": "Combine Clips",
        "credentials": {
          "httpHeaderAuth": {
            "id": "XhOG8EmUXSMMk7ct",
            "name": "NCS-Toolkit Auth account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Section 7 - Combine clips into 1 video",
          "height": 300,
          "width": 1680,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          2320
        ],
        "id": "b80d390a-a881-4645-842c-97630a50b0dc",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "jsCode": "// Extract the array of URLs\nconst urls = $input.first().json.url || [];\n\n// Map URLs into the required structure\nconst formattedURLs = urls.map(url => ({ \"video_url\": url }));\n\n// Return the transformed data\nreturn [{\n    json: {\n        \"video_urls\": formattedURLs\n    }\n}];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          928,
          2432
        ],
        "id": "ccc43e7e-a7a6-4643-bbaa-7e4aa39c2072",
        "name": "Video url to array"
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 683,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 6641,
                  "operator": "contains",
                  "value": "Processing"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          48,
          2432
        ],
        "id": "f32536cb-4213-4af6-a619-f0788e5debcb",
        "name": "Get video",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 684,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 6646,
                  "value": "={{ $json.id }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          480,
          2432
        ],
        "id": "a8fe544c-53be-44c3-b59a-df075e5b1d1a",
        "name": "Get Scenes",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "fieldsToAggregate": {
            "fieldToAggregate": [
              {
                "fieldToAggregate": "Video Clip URL"
              },
              {
                "fieldToAggregate": "['Video + SoundFX'][0].url"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          704,
          2432
        ],
        "id": "8c9191c4-968d-4c76-8310-c8bf47e87779",
        "name": "Aggregate2"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://nca.aiautomata.co.za/v1/ffmpeg/compose",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"id\": \"audio-layering-over-original\",\n  \"inputs\": [\n    {\n      \"file_url\": \"{{ $('Get Video1').item.json['Raw Video URL'] }}\"\n    },\n    {\n      \"file_url\": \"{{ $json['Audio File'][0].url }}\"\n    }\n  ],\n  \"filters\": [\n    {\n      \"filter\": \"[0:a][1:a]amix=inputs=2:duration=shortest[outa]\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"options\": [\n        {\n          \"option\": \"-map\",\n          \"argument\": \"0:v\"\n        },\n        {\n          \"option\": \"-map\",\n          \"argument\": \"[outa]\"\n        },\n        {\n          \"option\": \"-c:v\",\n          \"argument\": \"copy\"\n        },\n        {\n          \"option\": \"-c:a\",\n          \"argument\": \"aac\"\n        },\n        {\n          \"option\": \"-shortest\"\n        }\n      ]\n    }\n  ]\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          480,
          2720
        ],
        "id": "0f39f45e-3b9a-4e0c-b5ba-4ecc50601d12",
        "name": "Add Music",
        "credentials": {
          "httpHeaderAuth": {
            "id": "XhOG8EmUXSMMk7ct",
            "name": "NCS-Toolkit Auth account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Section 8 - Add BG Music",
          "height": 300,
          "width": 1460,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          2640
        ],
        "id": "9f10c599-3084-4684-b479-60e527ccb6f2",
        "name": "Sticky Note8"
      },
      {
        "parameters": {
          "operation": "update",
          "databaseId": 170,
          "tableId": 683,
          "rowId": "={{ $('Get Video1').item.json.id }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 6644,
                "fieldValue": "={{ $json.name }}"
              },
              {
                "fieldId": 6641,
                "fieldValue": "Done"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          1152,
          2720
        ],
        "id": "599e312c-5452-4edd-af41-d5af84ee2c74",
        "name": "Baserow17",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://baserow.aiautomata.co.za/api/user-files/upload-file/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1584,
          2032
        ],
        "id": "6828bc0f-ff9d-4a0f-9dc5-14913b182367",
        "name": "Upload to baserow3",
        "credentials": {
          "httpHeaderAuth": {
            "id": "eLr9WkAowHbRSmCb",
            "name": "Baserow Auth account"
          }
        }
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 683,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 6641,
                  "operator": "contains",
                  "value": "Processing"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          48,
          2720
        ],
        "id": "26eeb249-4c26-4a69-9dfe-e9d44bb38b7e",
        "name": "Get Video1",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "databaseId": 170,
          "tableId": 686,
          "rowId": "={{ $json.Music[0].id }}"
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          272,
          2720
        ],
        "id": "d1fd8be9-be66-4591-981d-d91d0559085f",
        "name": "Get Music1",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Section 6 - Add Sound FX",
          "height": 300,
          "width": 2000,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          2000
        ],
        "id": "ece88997-b80c-4cd8-8374-61e2081e3083",
        "name": "Sticky Note"
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 683,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 6641,
                  "operator": "contains",
                  "value": "Processing"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          48,
          2112
        ],
        "id": "d4f3fa3a-fb62-4b38-83b5-b773da44ccfa",
        "name": "Get video1",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 684,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 6646,
                  "value": "={{ $json.id }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          480,
          2112
        ],
        "id": "a64a9b2c-c900-403c-9b28-9897004920ac",
        "name": "Get Scenes1",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          704,
          2112
        ],
        "id": "3f65fae7-7e7c-4828-a8ce-219dc0db184c",
        "name": "Loop Over Items3"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://baserow.aiautomata.co.za/api/user-files/upload-file/",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          928,
          2720
        ],
        "id": "62b0551c-f91d-4547-b694-ff2bb8b63176",
        "name": "Upload to baserow6",
        "credentials": {
          "httpHeaderAuth": {
            "id": "eLr9WkAowHbRSmCb",
            "name": "Baserow Auth account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.response[0].file_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          704,
          2720
        ],
        "id": "fefd7cbf-a407-4fbf-a634-5c644ea5adce",
        "name": "HTTP Request6"
      },
      {
        "parameters": {
          "operation": "create",
          "databaseId": 170,
          "tableId": 684,
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 6647,
                "fieldValue": "={{ $json.rawDescription }}"
              },
              {
                "fieldId": 6648,
                "fieldValue": "={{ $json.textToImagePrompt }}"
              },
              {
                "fieldId": 6650,
                "fieldValue": "={{ $json.animationPrompt }}"
              },
              {
                "fieldId": 6651,
                "fieldValue": "={{ $json.soundEffectPrompt }}"
              },
              {
                "fieldId": 6649,
                "fieldValue": "={{ $('Create Video Record').item.json.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          2128,
          112
        ],
        "id": "0a53ab43-e204-483f-8734-2cce7474eb9b",
        "name": "Create Scene Records",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Process Generator (10 new)\n",
          "height": 440,
          "width": 1320,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2720,
          1088
        ],
        "id": "30e28782-05f9-4528-af82-392421428065",
        "name": "Sticky Note2"
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 685,
          "returnAll": true,
          "additionalOptions": {}
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          2832,
          1264
        ],
        "id": "8b9aca3f-9cd2-4015-86d7-d69dd3b74ec7",
        "name": "Get All Processes",
        "alwaysOutputData": true,
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Existing ideas:\n{{ JSON.stringify($json.data) }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are a creative ideation agent tasked with generating **original and visually compelling process ideas** for use in short-form video content featuring AI-generated tiny workers in whimsical miniature worlds.\n\nYour goal is to come up with **fresh, never-before-used process ideas** that are visually dynamic, satisfying, and full of charm.\n\nEach idea should belong to or be inspired by one of the following categories:\n- Manufacturing Processes  \n- Personal Attention Roleplays  \n- Crafting and Artisanal Processes  \n- Organizational Tasks  \n- Rituals  \n- Cultivation  \n- Transformation  \n\nProcess ideas can be real, imaginary, or fairytale-inspired — as long as they are highly visual and engaging at a tiny scale. Think of what would be mesmerizing to watch in a 1-minute video.\n\n**Important Instructions:**\n- The user will provide a list of already-generated ideas.\n- Your task is to generate 10 **new** ideas only — do **not** repeat or rephrase any existing ideas.\n- Do **not** include process steps or breakdowns. Just generate concise, distinct process concepts.\n\n---\nexample outputs\n\n    \"Weaving grass hammocks between bonsai trees\",\n    \"Frosting miniature cupcakes with flower-petal icing\",\n    \"Filling sand timers with stardust grains\",\n    \"Polishing beetle shells for royal insect parades\",\n    \"Stacking and organizing leaf-cut paper files\",\n    \"Charging glowberries with tiny lightning rods\",\n    \"Binding dream journals using spider-silk thread\",\n    \"Repainting street signs in a snail-sized village\",\n    \"Carving furniture from sugar cubes\",\n    \"Harvesting dewdrops from velvet moss\"\n\n\n**Output JSON format:**\n\n{\n  \"process_ideas\": [\n    \"Weaving grass hammocks between bonsai trees\",\n    \"Frosting miniature cupcakes with flower-petal icing\",\n    \"Filling sand timers with stardust grains\",\n    \"Polishing beetle shells for royal insect parades\",\n    \"Stacking and organizing leaf-cut paper files\",\n    \"Charging glowberries with tiny lightning rods\",\n    \"Binding dream journals using spider-silk thread\",\n    \"Repainting street signs in a snail-sized village\",\n    \"Carving furniture from sugar cubes\",\n    \"Harvesting dewdrops from velvet moss\"\n  ]\n}\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          3264,
          1168
        ],
        "id": "3fa157cd-d342-4228-956e-d551227294bf",
        "name": "Generate"
      },
      {
        "parameters": {
          "operation": "create",
          "databaseId": 170,
          "tableId": 685,
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 6658,
                "fieldValue": "={{ $json[\"output.process_ideas\"] }}"
              },
              {
                "fieldId": 6659,
                "fieldValue": "Available"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          3872,
          1264
        ],
        "id": "edc12ffd-9bf9-43dd-a754-a000e09372a0",
        "name": "Add New Processes",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 683,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 6641,
                  "operator": "contains",
                  "value": "Processing"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          480,
          592
        ],
        "id": "3c8213f6-6f9b-4575-a26c-9858111f38a1",
        "name": "Get Video2",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "include": "specifiedFields",
          "fieldsToInclude": "id, Description",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          272,
          592
        ],
        "id": "5ab093f4-f790-404c-a6b2-f71ac6d6f11d",
        "name": "Aggregate3"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=SoundFX library:\n{{ $('Aggregate3').item.json.data.toJsonString() }}\n\nSound Prompt:\n{{ $json['Sound Effect Prompt'] }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are an AI agent tasked with selecting the most appropriate SoundFX from a provided SoundFX library based on a given Sound Prompt.\n\nThe SoundFX library is provided as a list of JSON objects in the following format:\n\n\n{\n  \"id\": 21,\n  \"Description\": \"string\"\n}\n\n\nYour goal is to choose the single SoundFX entry that best matches the meaning or intent of the Sound Prompt.  \n**Do not** generate new SoundFX, modify existing entries, or alter the Sound Prompt in any way.  \nSimply return the `id` of the best-matching SoundFX from the library.\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          1152,
          512
        ],
        "id": "5371ff09-324c-4567-a973-1df375197140",
        "name": "SoundFX Picker"
      },
      {
        "parameters": {
          "operation": "get",
          "databaseId": 170,
          "tableId": 684,
          "rowId": "={{ $json.id }}"
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          928,
          592
        ],
        "id": "2567c709-11ea-4296-b6c7-f08e10f8f190",
        "name": "Get Scenes2",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          1104,
          704
        ],
        "id": "ba4166c6-12b3-463b-bb88-7290cb148e17",
        "name": "OpenRouter Chat Model2",
        "credentials": {
          "openRouterApi": {
            "id": "eni2kFdHGvy7lEd3",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n\"id\": 21,\n\"Orginal Sound Prompt\": \"Orginal Sound Prompt\",\n\"Description\": \"string\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          1360,
          704
        ],
        "id": "a375a881-1650-4927-9259-318410b6398b",
        "name": "Structured Output Parser4"
      },
      {
        "parameters": {
          "content": "## Section 5 - Generate Videos",
          "height": 360,
          "width": 2700,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          1632
        ],
        "id": "56f463c2-cfd4-4674-85d7-20f18d981c11",
        "name": "Sticky Note1"
      },
      {
        "parameters": {
          "content": "## Section 4 - Generate Scene Images",
          "height": 360,
          "width": 2700,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          1248
        ],
        "id": "331a1c22-4022-430f-a922-709d193bf652",
        "name": "Sticky Note5"
      },
      {
        "parameters": {
          "content": "## Section 3 - Pick Music From Library",
          "height": 360,
          "width": 1780,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          864
        ],
        "id": "76759589-4b52-45a9-b56e-3a5c16e72d22",
        "name": "Sticky Note6"
      },
      {
        "parameters": {
          "content": "## Section 2 -  Pick SoundFX from library",
          "height": 360,
          "width": 1780,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          480
        ],
        "id": "a37e6661-61b6-464a-945c-940a0de7cbf6",
        "name": "Sticky Note7"
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "include": "specifiedFields",
          "fieldsToInclude": "id, Process Idea",
          "options": {}
        },
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          288,
          112
        ],
        "id": "d7e826c8-96af-4a57-aabf-5b978da824c2",
        "name": "Aggregate4"
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 685,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 6659,
                  "operator": "contains",
                  "value": "Available"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          64,
          112
        ],
        "id": "2ab71fd0-3da9-4a44-938a-33bcee3aa3e2",
        "name": "Get Process Ideas",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "databaseId": 170,
          "tableId": 685,
          "rowId": "={{ $('Process Picker/Generator').item.json.output['Process ID'] }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 6659,
                "fieldValue": "Used"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          1248,
          112
        ],
        "id": "7cd1fcac-687d-44e9-877a-213fa09972a7",
        "name": "Mark Process Used",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "content": "# Section 1 - Pick process and scenes",
          "height": 460,
          "width": 2300,
          "color": 5
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "4be9cbae-4192-44f5-ac1c-167ebb3d6ef2",
        "name": "Sticky Note9"
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 683,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 6641,
                  "operator": "contains",
                  "value": "Processing"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          64,
          1424
        ],
        "id": "baff0ad1-9e18-45ab-981b-839e387d36f2",
        "name": "Get Video3",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 684,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 6646,
                  "value": "={{ $json.id }}"
                },
                {
                  "field": 6652,
                  "operator": "empty"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          512,
          1424
        ],
        "id": "a014a445-9b89-4e95-bfc4-8dcbe52f5bfb",
        "name": "Get Scenes3",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "databaseId": 170,
          "tableId": 688,
          "rowId": "4"
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          64,
          1280
        ],
        "id": "a6932c7d-202e-4a9a-bed7-331d1b808ddd",
        "name": "Get Style By ID",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json['style reference'][0].url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          288,
          1280
        ],
        "id": "2bb73512-1a06-4845-843a-ff31c3a5c31a",
        "name": "Download Image2"
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "destinationKey": "base64_String",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          512,
          1280
        ],
        "id": "c18d1005-a692-48ee-88bf-ca60b084d2cc",
        "name": "Convert to Base64 String"
      },
      {
        "parameters": {
          "resource": "video",
          "operation": "upload",
          "title": "={{ $('Create titles & hashtags').item.json.output.title }}, {{ $json.output.hashtags }}",
          "regionCode": "GB",
          "categoryId": "24",
          "options": {
            "description": "={{ $('Create titles & hashtags').item.json.output.title }} {{ $json.output.hashtags }}",
            "privacyStatus": "private",
            "selfDeclaredMadeForKids": false
          }
        },
        "type": "n8n-nodes-base.youTube",
        "typeVersion": 1,
        "position": [
          880,
          3024
        ],
        "id": "af1bb9be-4c2e-41b2-b409-8e47d3a91aa4",
        "name": "YouTube"
      },
      {
        "parameters": {
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          272,
          3184
        ],
        "id": "d0804f37-74bc-4075-a5e8-9710704f1361",
        "name": "OpenRouter Chat Model6"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"title\": \"string\",\n  \"hashtags\": \"string\"\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          480,
          3184
        ],
        "id": "c3e3ed87-10ae-4e5c-ad61-551b682943c4",
        "name": "Structured Output Parser6"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Process: {{ $json.Process }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are a creative AI assistant that specializes in crafting viral YouTube Shorts titles and hashtags. You are given a short, whimsical description of a process done by tiny, cute workers (e.g., fairies, mini creatures, toy-like beings). Your job is to generate:\n\n1. A catchy and curiosity-inducing **title** that would make viewers want to click.\n2. A set of **2 to 3 relevant and popular hashtags**, optimized for virality in the \"cute\", \"miniature\", and \"oddly satisfying\" niches.\n\n📝 Your output must follow this **JSON format**:\n\n```json\n{\n  \"title\": \"string\",\n  \"hashtags\": \"string\"\n}\n```\n\n🎯 The **combined length of the title and hashtags must not exceed 80 characters**.\nMake the title playful, emotional, or intriguing. Hashtags should be space-separated and each start with `#`."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.9,
        "position": [
          288,
          3024
        ],
        "id": "27bf0887-bbae-4dbc-91fb-cffc80a3b966",
        "name": "Create titles & hashtags"
      },
      {
        "parameters": {
          "url": "={{ $('Get Last video').item.json['Final Video'][0].url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          3024
        ],
        "id": "ef40ed8f-5b5b-43b3-a558-43289a7ba4d2",
        "name": "Download video"
      },
      {
        "parameters": {
          "content": "## Generate title & hashtag, Upload to YouTube",
          "height": 360,
          "width": 1220,
          "color": 3
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          0,
          2960
        ],
        "id": "f4c39d20-bddc-4cf7-b049-e6675b550d4a",
        "name": "Sticky Note10"
      },
      {
        "parameters": {
          "databaseId": 191,
          "tableId": 735,
          "limit": 1,
          "additionalOptions": {
            "order": {
              "fields": [
                {
                  "field": 7253,
                  "direction": "-"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          64,
          3024
        ],
        "id": "ccc03812-edea-4546-9146-2044deb99c5f",
        "name": "Get Last video"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Use a process from the following list:\n{{ $json.data.toJsonString() }}",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are a creative director for a TikTok account featuring AI-generated videos of tiny workers in miniature worlds.\n\nYour task is to pick one deeply satisfying process from the **provided list** that will captivate viewers in a 1-minute video made up of short, mesmerizing clips.\n\nThe list contains processes from categories such as: Manufacturing Processes, Personal Attention Roleplays, Crafting and Artisanal Processes, Organizational Tasks, Ritual, Cultivation, or Transformation Processes. They may be real or inspired by fairytales.  \nYour job is to **select one process** from this list that would be visually dynamic, whimsical, and suited to a shifting, fantastical realm.\n\nThen, provide a detailed list of 6–8 raw steps that break down that process from start to finish.\n\nEach step should be concise, represent a clear progression, and highlight the charm of tiny human workers (about 2–3 inches tall) using tools or props in creative, unexpected ways. The goal is to make the task fun, magical, and captivating to watch on a tiny scale.\n\nYou will be provided the list of processes in this format:  \n**Use a process from the following list: [list of processes...]**\n\n---\n\n**Output result as JSON:**\n\n\n{\n  \"Process ID\": \"id from the process list\",\n  \"process\": \"randomly chosen process from list\",\n  \"steps\": [\n    {\n      \"number\": 1,\n      \"rawDescription\": \"\"\n    },\n    {\n      \"number\": 2,\n      \"rawDescription\": \"\"\n    }\n    // Continue to 6–8 steps\n  ]\n}\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          512,
          112
        ],
        "id": "762eafdd-09c7-4ffe-9ee6-8dff8ad015ae",
        "name": "Process Picker/Generator"
      },
      {
        "parameters": {
          "jsonSchemaExample": "{\n  \"Music_prompts\": [\n    \"Orchestral, playful pizzicato strings, light percussion, bouncing rhythm\",\n    \"Orchestral classical, staccato violins, playful xylophone, upbeat tempo\",\n    \"Classical, ethereal harp, delicate strings, lilting woodwinds, morning atmosphere\",\n    \"... (7 more prompts) ...\"\n  ]\n}\n"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          3168,
          1840
        ],
        "id": "131673df-d8a5-43e6-9ada-8a698f9b1258",
        "name": "Structured Output Parser5"
      },
      {
        "parameters": {
          "options": {
            "temperature": 0.6
          }
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          2880,
          1840
        ],
        "id": "f7db26c7-e6d4-46be-8670-830a42e0fbdd",
        "name": "OpenRouter Chat Model5",
        "credentials": {
          "openRouterApi": {
            "id": "eni2kFdHGvy7lEd3",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=go",
          "hasOutputParser": true,
          "options": {
            "systemMessage": "=You are an AI music generation assistant designed to support the creation of background music for short TikTok videos featuring tiny workers performing miniature tasks such as cooking, cleaning, and crafting. Your task is to generate **10 unique music prompts** using only **music-related language**.\n\nEach prompt must:\n\n* Be suitable for whimsical, creative, or slightly childish video themes.\n* Use dynamic, expressive musical descriptors (e.g., instrument types, rhythms, moods).\n* Focus on styles like classical, orchestral, lighthearted, fun, or beautiful.\n* Avoid non-musical language, explanations, or context.\n* Be rich enough to guide an AI music generation tool.\n\nYour output should always follow this **JSON format**:\n\n{\n  \"Music_prompts\": [\n    \"Orchestral, playful pizzicato strings, light percussion, bouncing rhythm\",\n    \"Orchestral classical, staccato violins, playful xylophone, upbeat tempo\",\n    \"Classical, ethereal harp, delicate strings, lilting woodwinds, morning atmosphere\",\n    \"... (7 more prompts) ...\"\n  ]\n}\n\n\nGenerate only the JSON object—do not include any additional commentary or formatting outside the JSON.\n\n"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.8,
        "position": [
          2944,
          1664
        ],
        "id": "97d13983-d5fc-4355-af2a-4c7aef5bd26c",
        "name": "Generate Music Promps"
      },
      {
        "parameters": {
          "fieldToSplitOut": "output.Music_prompts",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          3344,
          1664
        ],
        "id": "72ca86a6-8d70-414c-b769-23d398ff8adc",
        "name": "Split Prompts"
      },
      {
        "parameters": {
          "operation": "create",
          "databaseId": 170,
          "tableId": 686,
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 6662,
                "fieldValue": "={{ $json['output.Music_prompts'] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          3600,
          1664
        ],
        "id": "cff65691-a553-49fc-aa1d-dddd6472178e",
        "name": "Add New Music Prompt",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "content": "## Music Prompt Generator (10 new)\n",
          "height": 440,
          "width": 1320,
          "color": 4
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          2720,
          1552
        ],
        "id": "28f37d88-f026-4752-9021-2cde02780bf6",
        "name": "Sticky Note11"
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 687,
          "returnAll": true,
          "additionalOptions": {}
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          48,
          592
        ],
        "id": "111a0d2e-1677-4ea6-af37-052dfb8bf2ff",
        "name": "Get SoundFX Library",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "databaseId": 170,
          "tableId": 684,
          "rowId": "={{ $('Get Scenes2').item.json.id }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 6657,
                "fieldValue": "={{ $json.output.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          1520,
          592
        ],
        "id": "070d7f32-2908-44f8-a398-ffe5639bd4db",
        "name": "Update Scene with SoudFX ID",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 683,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 6641,
                  "operator": "contains",
                  "value": "Processing"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          64,
          1792
        ],
        "id": "59a3cc38-db74-4028-94ab-ffed2976f676",
        "name": "Get Video4",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "databaseId": 170,
          "tableId": 684,
          "returnAll": true,
          "additionalOptions": {
            "filters": {
              "fields": [
                {
                  "field": 6646,
                  "value": "={{ $json.id }}"
                }
              ]
            }
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          480,
          1792
        ],
        "id": "ba6d0677-13b2-44e4-9e72-09509a7ca408",
        "name": "Get Scenes4",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://queue.fal.run/fal-ai/kling-video/v1.6/standard/image-to-video",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n     \"prompt\":{{ JSON.stringify($json['Animation Prompt']) }},\n     \"image_url\": \"{{ $json['External Image URL'] }}\",\n     \"duration\": \"5\",\n     \"aspect_ratio\": \"9:16\",\n     \"negative_prompt\": \"blur, distort, and low quality\",\n     \"cfg_scale\": 0.5\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          944,
          1728
        ],
        "id": "6c70802c-bceb-4a8b-bfac-f0e3683c99e7",
        "name": "fal.ai - Send Video Request",
        "credentials": {
          "httpHeaderAuth": {
            "id": "ir1jYgd60Pw6yEVx",
            "name": "fal.ai Auth account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.status_url }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1392,
          1648
        ],
        "id": "5a3ee37f-75a5-46ae-9de4-7a0e2fda1172",
        "name": "Check Progress Status",
        "credentials": {
          "httpHeaderAuth": {
            "id": "ir1jYgd60Pw6yEVx",
            "name": "fal.ai Auth account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.response_url }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1824,
          1728
        ],
        "id": "e3ee18b8-4ea2-4a11-bea2-9cc7ddf90979",
        "name": "Get Download URL",
        "credentials": {
          "httpHeaderAuth": {
            "id": "ir1jYgd60Pw6yEVx",
            "name": "fal.ai Auth account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.video.url }}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2048,
          1728
        ],
        "id": "11af373a-9a02-44a1-a933-9ae4352b26c6",
        "name": "Download Video"
      },
      {
        "parameters": {
          "operation": "update",
          "databaseId": 170,
          "tableId": 684,
          "rowId": "={{ $('Loop Over Items1').item.json.id }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 6653,
                "fieldValue": "={{ $json.name }}"
              },
              {
                "fieldId": 6655,
                "fieldValue": "={{ $('Download Video').item.json.video.url }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          2480,
          1792
        ],
        "id": "d868608f-ca77-4259-a7a5-8b6cb94b5fa1",
        "name": "Update Scene",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "url": "={{ $json.response[0].file_url }}",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1360,
          2032
        ],
        "id": "6abdb2b1-a209-454d-9ba4-534a61e50a5e",
        "name": "Download Clip"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://nca.aiautomata.co.za/v1/ffmpeg/compose",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"id\": \"audio-layering\",\n  \"inputs\": [\n    {\n      \"file_url\": \"{{ $('Loop Over Items3').item.json['Video Clip'][0].url }}\"\n    },\n    {\n      \"file_url\": \"{{ $json['SoundFX File'][0].url }}\"\n    }\n  ],\n  \"filters\": [\n    {\n      \"filter\": \"[1:a]volume=1[outa]\"\n    }\n  ],\n  \"outputs\": [\n    {\n      \"options\": [\n        {\n          \"option\": \"-map\",\n          \"argument\": \"0:v\"\n        },\n        {\n          \"option\": \"-map\",\n          \"argument\": \"[outa]\"\n        },\n        {\n          \"option\": \"-c:v\",\n          \"argument\": \"copy\"\n        },\n        {\n          \"option\": \"-c:a\",\n          \"argument\": \"aac\"\n        },\n        {\n          \"option\": \"-shortest\"\n        }\n      ]\n    }\n  ]\n}\n",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1152,
          2032
        ],
        "id": "2def901c-6b82-4f39-8ec1-6a942becd669",
        "name": "NCA Add SoundFX",
        "credentials": {
          "httpHeaderAuth": {
            "id": "XhOG8EmUXSMMk7ct",
            "name": "NCS-Toolkit Auth account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "[\"Miniature Scenes\"]",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          288,
          1424
        ],
        "id": "92944cea-3120-4e85-ad81-6300c24b972a",
        "name": "Split Out Scenes 1"
      },
      {
        "parameters": {
          "fieldToSplitOut": "['Miniature Scenes']",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          272,
          2432
        ],
        "id": "fa60ac8e-e350-4d0c-a95b-607eddc723d9",
        "name": "Split Out Scenes4"
      },
      {
        "parameters": {
          "fieldToSplitOut": "[\"Miniature Scenes\"]",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          272,
          1792
        ],
        "id": "38645b85-e537-4f48-b42c-de67e838f37e",
        "name": "Split Out Scenes 2"
      },
      {
        "parameters": {
          "fieldToSplitOut": "['Miniature Scenes']",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          272,
          2112
        ],
        "id": "b28ccdaf-9c2e-45c3-ac86-c51adaa2c918",
        "name": "Split Out Scenes 3"
      },
      {
        "parameters": {
          "fieldToSplitOut": "[\"Miniature Scenes\"]",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          704,
          592
        ],
        "id": "5f0c1690-dd98-400b-b8ba-dd7abd5b65da",
        "name": "Split Out Scenes1"
      },
      {
        "parameters": {
          "operation": "update",
          "databaseId": 170,
          "tableId": 684,
          "rowId": "={{ $('Loop Over Items').item.json.id }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 6652,
                "fieldValue": "={{ $json.name }}"
              },
              {
                "fieldId": 6654,
                "fieldValue": "={{ $('Download Image').item.json.data.generated[0] }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          2272,
          1424
        ],
        "id": "32c55b4c-498d-4632-9c76-c0479ba4d032",
        "name": "Update Scene1",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "databaseId": 170,
          "tableId": 684,
          "rowId": "={{ $('Loop Over Items3').item.json.id }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 6656,
                "fieldValue": "={{ $json.name }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          1808,
          2112
        ],
        "id": "2705240e-7b12-4705-88e5-7ccabefabf8d",
        "name": "Update Scene2",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "databaseId": 170,
          "tableId": 683,
          "rowId": "={{ $json.id }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 6643,
                "fieldValue": "={{ $json.response }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          1360,
          2432
        ],
        "id": "445765df-8708-4961-8b30-6be89f016857",
        "name": "Update Video",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "databaseId": 170,
          "tableId": 683,
          "rowId": "={{ $('Get Video').item.json.id }}",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": 6642,
                "fieldValue": "={{ $json.output.id }}"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          1552,
          928
        ],
        "id": "d1da1ee4-51bc-4bc0-9799-9fe05af5a22f",
        "name": "Update Video1",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      },
      {
        "parameters": {
          "operation": "get",
          "databaseId": 170,
          "tableId": 687,
          "rowId": "={{ $json.SoundFX[0].id }}"
        },
        "type": "n8n-nodes-base.baserow",
        "typeVersion": 1,
        "position": [
          928,
          2032
        ],
        "id": "4cb40652-f715-44a8-abfe-eec2333d7559",
        "name": "Get SoundFX",
        "credentials": {
          "baserowApi": {
            "id": "GnM4Cf2nf0PpI51v",
            "name": "Baserow account"
          }
        }
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Get Video1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Video",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Style By ID",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get SoundFX Library",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Process Ideas",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Video4",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get video1",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get video",
              "type": "main",
              "index": 0
            },
            {
              "node": "Get Last video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model1": {
        "ai_languageModel": [
          [
            {
              "node": "Process Picker/Generator",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Create Scenes",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser2": {
        "ai_outputParser": [
          [
            {
              "node": "Create Scenes",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Create Scenes": {
        "main": [
          [
            {
              "node": "Mark Process Used",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Send Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Request": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Request": {
        "main": [
          [
            {
              "node": "Is Completed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Check Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Completed": {
        "main": [
          [
            {
              "node": "Download Image",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Generate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Generate",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Split Out1": {
        "main": [
          [
            {
              "node": "Add New Processes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model3": {
        "ai_languageModel": [
          [
            {
              "node": "Generate",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate1": {
        "main": [
          [
            {
              "node": "Music Picker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Aggregate1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser1": {
        "ai_outputParser": [
          [
            {
              "node": "Process Picker/Generator",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Set Scenes": {
        "main": [
          [
            {
              "node": "Split Out Scenes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Video Record": {
        "main": [
          [
            {
              "node": "Set Scenes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Scenes": {
        "main": [
          [
            {
              "node": "Create Scene Records",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Music Picker": {
        "main": [
          [
            {
              "node": "Update Video1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Video": {
        "main": [
          [
            {
              "node": "Get Music",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Music": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model4": {
        "ai_languageModel": [
          [
            {
              "node": "Music Picker",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser3": {
        "ai_outputParser": [
          [
            {
              "node": "Music Picker",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Upload to baserow": {
        "main": [
          [
            {
              "node": "Update Scene1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Image": {
        "main": [
          [
            {
              "node": "Upload to baserow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [],
          [
            {
              "node": "fal.ai - Send Video Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait1": {
        "main": [
          [
            {
              "node": "Check Progress Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Is Completed1": {
        "main": [
          [
            {
              "node": "Get Download URL",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to baserow1": {
        "main": [
          [
            {
              "node": "Update Scene",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Combine Clips": {
        "main": [
          [
            {
              "node": "Update Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Video url to array": {
        "main": [
          [
            {
              "node": "Combine Clips",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get video": {
        "main": [
          [
            {
              "node": "Split Out Scenes4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Scenes": {
        "main": [
          [
            {
              "node": "Aggregate2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate2": {
        "main": [
          [
            {
              "node": "Video url to array",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Music": {
        "main": [
          [
            {
              "node": "HTTP Request6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to baserow3": {
        "main": [
          [
            {
              "node": "Update Scene2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Video1": {
        "main": [
          [
            {
              "node": "Get Music1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Music1": {
        "main": [
          [
            {
              "node": "Add Music",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get video1": {
        "main": [
          [
            {
              "node": "Split Out Scenes 3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Scenes1": {
        "main": [
          [
            {
              "node": "Loop Over Items3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items3": {
        "main": [
          [],
          [
            {
              "node": "Get SoundFX",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload to baserow6": {
        "main": [
          [
            {
              "node": "Baserow17",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request6": {
        "main": [
          [
            {
              "node": "Upload to baserow6",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Processes": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate": {
        "main": [
          [
            {
              "node": "Split Out1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Video2": {
        "main": [
          [
            {
              "node": "Split Out Scenes1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate3": {
        "main": [
          [
            {
              "node": "Get Video2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "SoundFX Picker": {
        "main": [
          [
            {
              "node": "Update Scene with SoudFX ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Scenes2": {
        "main": [
          [
            {
              "node": "SoundFX Picker",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model2": {
        "ai_languageModel": [
          [
            {
              "node": "SoundFX Picker",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser4": {
        "ai_outputParser": [
          [
            {
              "node": "SoundFX Picker",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate4": {
        "main": [
          [
            {
              "node": "Process Picker/Generator",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Process Ideas": {
        "main": [
          [
            {
              "node": "Aggregate4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mark Process Used": {
        "main": [
          [
            {
              "node": "Create Video Record",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Video3": {
        "main": [
          [
            {
              "node": "Split Out Scenes 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Scenes3": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Style By ID": {
        "main": [
          [
            {
              "node": "Download Image2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Image2": {
        "main": [
          [
            {
              "node": "Convert to Base64 String",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to Base64 String": {
        "main": [
          [
            {
              "node": "Get Video3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model6": {
        "ai_languageModel": [
          [
            {
              "node": "Create titles & hashtags",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser6": {
        "ai_outputParser": [
          [
            {
              "node": "Create titles & hashtags",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Create titles & hashtags": {
        "main": [
          [
            {
              "node": "Download video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download video": {
        "main": [
          [
            {
              "node": "YouTube",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Last video": {
        "main": [
          [
            {
              "node": "Create titles & hashtags",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Process Picker/Generator": {
        "main": [
          [
            {
              "node": "Create Scenes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser5": {
        "ai_outputParser": [
          [
            {
              "node": "Generate Music Promps",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model5": {
        "ai_languageModel": [
          [
            {
              "node": "Generate Music Promps",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Generate Music Promps": {
        "main": [
          [
            {
              "node": "Split Prompts",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Prompts": {
        "main": [
          [
            {
              "node": "Add New Music Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get SoundFX Library": {
        "main": [
          [
            {
              "node": "Aggregate3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Video4": {
        "main": [
          [
            {
              "node": "Split Out Scenes 2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Scenes4": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "fal.ai - Send Video Request": {
        "main": [
          [
            {
              "node": "Wait1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Progress Status": {
        "main": [
          [
            {
              "node": "Is Completed1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Download URL": {
        "main": [
          [
            {
              "node": "Download Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Video": {
        "main": [
          [
            {
              "node": "Upload to baserow1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Scene": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Download Clip": {
        "main": [
          [
            {
              "node": "Upload to baserow3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "NCA Add SoundFX": {
        "main": [
          [
            {
              "node": "Download Clip",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Scenes 1": {
        "main": [
          [
            {
              "node": "Get Scenes3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Scenes4": {
        "main": [
          [
            {
              "node": "Get Scenes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Scenes 2": {
        "main": [
          [
            {
              "node": "Get Scenes4",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Scenes 3": {
        "main": [
          [
            {
              "node": "Get Scenes1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Scenes1": {
        "main": [
          [
            {
              "node": "Get Scenes2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Scene1": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Scene2": {
        "main": [
          [
            {
              "node": "Loop Over Items3",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get SoundFX": {
        "main": [
          [
            {
              "node": "NCA Add SoundFX",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "pinData": {},
    "meta": {
      "instanceId": "15a60e08082ab352e35a507877bcd1434fb079a9fcbac992f93eb2b8909136d7"
    }
  }